body {
    margin: 0;
    background-color: black;
    color: white;
    height: 120vh;
    font-family: 'Georgia', serif;
    background-image: url('https://wallpapercat.com/w/full/1/6/b/6644-3840x2160-desktop-4k-assassins-creed-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(50, 50, 50);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
header img {
    height: 110px;
    width: 100px;
}
nav {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-right: 40px;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
nav a:hover {
    text-decoration: underline;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(50, 50, 50);
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    font-size: 0.9rem;
}
main {
    margin-top: 180px;
    background-color: rgba(0, 0, 0, 0.4);
}
h2 {
    color: rgb(200, 0, 0);
    font-size: 40px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 20px;
}
p {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 270px;
    padding-right: 100px;
}
ul {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 270px;
    padding-right: 100px;
}